* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightgray;
}

#main {
  border-radius: 8px;
  background-color: aqua;
  text-align: center;
  margin: 20px;
  padding: 20px;
}


button {
  font-size: 1.2rem;
  color: blue;
}
input {
    font-size: 1.2rem;
  max-width: 200px;
  border-radius: 7px;
  padding: 0 10px;
}
.name-id {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
#search-section {
  margin: 10px 0;
}
#search-button {
  border-radius: 15px;
  padding: 0 10px;
}
.description{
    display: flex;
    gap: 10px;
}
.types {
  padding: 4px 10px;
  background-color: lightgrey;
  border-radius: 5px;
}
#types {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}
.grid-container {
  padding: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
}
.grid-container div {
  height: 30px;
  background-color: skyblue;
  border-radius: 5px;
}
.extend {
  grid-column-start: 1;
  grid-column-end: 3;
}
.extend,
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
